<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inicio de Sesion</h1>
    <form action="productos" method="post" action="/">       
        <div class="mb-3 row">
            <label for="staticEmail">Email</label>
            <div>
                <input type="text" id="username" name="username">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputPassword">Password</label>
            <div>
                <input type="password" id="password" name="password">
            </div>
        </div>
        <button type="submit" id="iniciaSesion">Iniciar Sesion</button>
    </form>
    <br>

    <a href="signIn" id='goToSignIn' type='submit'>Quiero Registrarme</a>
    <script src="../../logIn.js"></script>
</body>
</html>