<html lang='en'>
    <head>
        
    </head>
    <body>
        <h1>Registro de Usuario</h1>
        <form class='singInDiv' method='post' action='signIn'>
            <div>
                <label for='nombre'>Ingresa tu nombre</label><br>
                <input type='nombre' id='nombre' name='nombre' /><br>
                <label for='apellido'>Ingresa tu apellido</label><br>
                <input type='apellido' id='apellido' name='apellido' /><br>
                <label for='telefono'>Ingresa tu telefono</label><br>
                <input type='number' id='telefono' name='telefono' /><br>
                <label for='username'>Ingresa tu email</label><br>
                <input type='email' id='userEmail' name='username' /><br>
                <label for='password'>Ingresa tu contraseña</label><br>
                <input type='password' id='userPassword' name='password' /><br>
            </div>
            <div>
                <button id='submitSession' type='submit'>Registrarme</button>
                {{!-- <input type='submit' value='Registrarte' id='submitSession'/> --}}
            </div>
        </form>
        <div>
            {{!-- <input id='goToLogIn' type='button' value='LogIn' /> --}}
            <a href="/" id='goToLogIn' type='submit'>LogIn</a>
        </div>
        
        <script src='../../singIn.js'></script>
    </body>

</html>